version: 2.1
orbs: 
  matlab: mathworks/matlab@0.4.0
jobs:
  run-adrc-toolbox-tests:
    release:
          version:
            description: "MATLAB version"
            default: "R2021a"
            type: string
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - matlab/install
      - matlab/run-command:
          command: tests/runTests
workflows:
  test:
    jobs:
      - run-adrc-toolbox-tests
